<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id = "background_bar">
<ul id = "menu">
	<li><%= link_to "Proposal", home_path, :class => "links" %></li>
	<li><%= link_to "Progress Report 1", progress_report_1_path, :class => "links" %></li>
	<li><%= link_to "Progress Report 2", progress_report_2_path, :class => "links" %></li>
	<li><%= link_to "Final Report", progress_report_1_path, :class => "links" %></li>
</ul>
</div>
<%= yield %>

</body>
</html>
